<h1> Add a new photo </h1>

<form action="/photos">
  <div>
    <label for="photo_caption">Caption: </label>
    <input id="photo_caption" type="text" name="photo_caption">
  </div>

  <div>
    <label for="image_url">Image URL: </label>
    <input id="image_url" type="text" name="image_url">
  </div>
  <button>
    Create Photo
  </button>
</form>
